/* Navbar.css */
.container {
    width: 85%;
    margin: auto; /* Center horizontally and vertically */
    text-align: center; /* Center the text within the container */
    position: absolute;
    top: 50px
}

nav {
    /* background-color: #333; */
    display: flex;
    justify-content: center;
    margin: auto;
    /* margin-top: 50px; */
    width: 80%;
    font-size: 18px;
    z-index: 1;
}

ul {
    list-style-type: none;
    min-width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

Link {
    padding: 10px;
}

a {
    text-decoration: none;
    /* color: #FFF27D; */
    width: 100%;
    height: fit-content;
    /* margin-right: 20px; */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* /* width: 152px; */
    min-height: 35px; 
    border-radius: 10px 10px 0px 0px;
    border-top: 2px solid #FFF27D;
    border-right: 2px solid #FFF27D;
    border-left: 2px solid #FFF27D;
}

.selected {
    /* min-height: 42px; */
    background: rgba(217, 121, 138, 0.79);
}

.selected-home {
    background: rgba(169, 162, 101, 0.79);
}

.navbox {
    height: 20px;
    border-radius: 30px 30px 0px 0px;
    border-top: 2px solid #FFF27D;
    border-right: 2px solid #FFF27D;
    border-left: 2px solid #FFF27D;
}